doctype html 
html
  head 
    title User page 
    style.
        a:link { text-decoration: none; } 
        
  body
    h1 All Users Data 
    p(style="display:none") user=#{users}
    p(style="display:none") link=#{links}
    div(id="main")
      button(id="postBtn")
        a(href="http://localhost:3000") Home
      button(id="dataBtn")
        a(href="/api") Data       
      br
      br
      div(style="margin-left:50px")         
        each index in users 
          br
          each val, key in index
            if !isNaN(val)
              li(style="list-style-type:none; display:flex")= key + ': ' +  val 
                button(id="viewBtn" style="margin-left:150px") 
                  a(href=`/api/users/${val}`) View 
            else 
              li(style="list-style-type:none;")= key + ': ' +  val  
        

        
                

            


            
