doctype html 
html
    block lets
    head 
        title User's Detail 
        style.
            a:link { text-decoration: none; } 
            
    body 
        h1 User ID: #{id} 
        p(style="display:none") user= #{user}
        p(style="display:none") links= #{links}
        div(id="main")
            button(id="postBtn")
                a(href="http://localhost:3000") Home
            button(id="dataBtn")
                a(href="/api") Data 
        br
        ul
            each val, key in user
                p= key + ': ' + val
            br
            li Delete this user: 
                form(action=`/api/users/${id}?_method=DELETE` method="POST")
                    br
                    input(type="submit" value="Delete")
            br
            li Update this user: 
                form(action=`/api/users/${id}?_method=PATCH` method="POST") 
                    br
                    label(for="name") - Name: 
                    input(type="text" id="name" name="name" placeholder="Enter name" value=user.name)
                    br
                    label(for="username") - Username: 
                    input(type="text" id="username" name="username" placeholder="Enter username" value=user.username)
                    br
                    label(for="email") - Email:  
                    input(type="email" id="email" name="email" placeholder="Enter email" value=user.email)
                    br
                    br
                    input(type="submit" value="Update")
                    